body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  max-width: 42rem;
  padding: 1rem;
  line-height: 1.5;
  margin: auto;
  background-color: var(--body-bg);
  color: var(--body-color);
}

body .embedded-doc .doc-content {
  margin-top: 1rem;
  margin-right: 0px;
  max-width: 100%;
  padding: 0px;
}

#dotplanContainer {
  padding: 1px;
}

.dotplanIsLoading {
  visibility: hidden;
  height: 0;
}

::selection {
  background: #44475A75;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: var(--link-color);
}

.site-title > a {
  text-decoration: none;
  color: var(--site-title-color);
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  margin-top: 0rem;
  color: var(--heading-color);
}

h2 {
  font-size: 1.6rem;
  color: var(--heading-color);
}

h3, h4, h5 {
  margin-bottom: .25rem;
  color: var(--heading-color);
}

blockquote {
  border-left: 1px solid var(--heading-color);
  margin: 20px 10px;
  padding: 0px 10px;
}

.meta {
  margin-bottom: .25rem;
  color: #a8b2cf;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.header nav ul.flat {
  padding: 0;
}

.header nav ul.flat li {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.header .site-description {
  display: flex;
  justify-content: space-between;
}

.site-description > h2 {
  margin: 0;
}

.header .site-description nav {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 50px;
  margin-left: 15px;
}

.header .site-description nav ul svg {
  max-height: 15px;
}

.fluff-miscellanea {
  font-size: 12px;
}

.fluff-miscellanea span a {
  padding-right: 5px;
}

.header {
  margin-bottom: 0.3rem;
}

.post {
  margin-top: 0.5rem;
}

.secret {
  font-size: 0;
}

.subtitle {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--subtitle-color);
  display: block;
  width: 100%;
  margin: auto;
  max-width: 100%;
}

.subscribe-beg > a {
  color: var(--link-color);
}

img {
  width: 100%;
  height: 100%;
}

color-palatte {
  color: #282A36;
}

.embedded-doc {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Define CSS variables for dark mode */
:root {
  --body-bg: #191F26;
  --body-color: #F8F8F2;
  --link-color: #69a6e0;
  --site-title-color: #EFDDD3;
  --heading-color: #CF9185;
  --subtitle-color: #9099b6;
}

/* Light mode styles */
body.light-mode {
  --body-bg: #F8F8F2;
  --body-color: #191F26;
  --link-color: #005B96;
  --site-title-color: #4C3B30;
  --heading-color: #5A2C2A;
  --subtitle-color: #626B8C;
}


/* dark/light button */
.toggle-button,
.toggle-button *,
.toggle-button :after,
.toggle-button :before,
.toggle-button:after,
.toggle-button:before {
  border: 0 solid;
  box-sizing: border-box;
  border-radius: 15%;
}
.toggle-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #F8F8F2;
  background-image: none;
  color: #191F26;
  cursor: pointer;
  
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.toggle-button:disabled {
  cursor: default;
}
.toggle-button:-moz-focusring {
  outline: auto;
}
.toggle-button svg {
  display: block;
  vertical-align: middle;
}
.toggle-button [hidden] {
  display: none;
}
.toggle-button {
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1rem 2.5rem;
  position: relative;
  text-transform: uppercase;
}
.toggle-button .new,
.toggle-button .old {
  transition: transform 0.2s;
}
.toggle-button .old {
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
}
.toggle-button:hover .old {
  transform: translateY(100%);
}
.toggle-button .new {
  background: #191F26;
  color: #F8F8F2;
  display: grid;
  inset: 0;
  place-content: center;
  pointer-events: none;
  position: absolute;
  transform: translateX(-100%);
}
.toggle-button:hover .new {
  transform: translateX(0);
}
