* {
    box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: auto;
    background: rgb(227,215,189);
    background: linear-gradient(0deg, rgba(227,215,189,1) 7%, rgb(255, 255, 255) 60%);  
    background-attachment: fixed;
    z-index: 0;
  }


  .about {
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 20px;
    margin: 2vh 5vh 5vh 5vh;

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 8%, rgba(225,220,220,1) 60%);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    font-weight: 400;
    font-size: x-large;
    text-align: center;
    color: #111;
  }


/* hero section */

  .hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.1)), url('https://images.unsplash.com/photo-1614852207179-f21528f68aa0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero h1 {
  /* Text styles */
  font-size: 5em;
  font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}


.hero h2 {
  /* Text styles */
  font-size: 2.5em;
  font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 200px;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}



/* Footer stuck to bottom */

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }




  


  hr.dark {
    border: 1px solid black;
  }

  hr.light {
    margin-right: 50%;
  }


  




/* collapsible boxes */

  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    background-color: #ffffff;
    margin-bottom: .5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  
  summary {
    list-style-position: outside;
    margin: -0.5em -0.5em 0 30px;
    padding: 0.5em;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: larger;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
    background-color: #e0e0e0;
  }
  
  




  

  /* sidenav start */

  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    text-align: center;  
    color: white;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }

  
  /* Style the content */
  .content {
    margin-left: 200px;
    margin-right: 150px;
    padding: 20px;
    color: #111;
  }


  /* style resume section blocks */
  .block {
    margin: 5px;
    padding: 7px;
    border-color: black;
  }
  

  /* Style side headings */
  .sidehead {
    color: white;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    line-height: 95%;
  }

  /* style headshot */
  .headshot {
    width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75%;
  }

/* end sidenav */


/* projects styling */

.row {
  justify-content: space-around;
  display: flex;
}

.gif {
  flex: 50%;
  text-align: center;
}

.caption {
  font-style: italic;
  color: #656565;
}



 