* {
    box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: auto;
  }

  hr.dark {
    border: 1px solid black;
  }

  hr.light {
    margin-right: 50%;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    text-align: center;  
    color: white;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }

  
  /* Style the content */
  .content {
    margin-left: 200px;
    margin-right: 150px;
    padding: 20px;
  }


  /* style resume section blocks */
  .block {
    margin: 5px;
    padding: 7px;
    border-color: black;
  }
  

  /* Style side headings */
  .sidehead {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* style headshot */
  .headshot {
    width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75%;
  }

 